@import "../../../../../breakpoints.scss";

.backogrund-image {
  width: 162px;
  height: 162px;
  z-index: 1;
  background-image: url("/assets/missing_profile_picture_gray.png");
  background-size: cover;

  @include media("<=960px") {
    display: none !important;
  }
}

contact-profile-picture {
  @include media("<=960px") {
    display: none !important;
  }
}

mat-icon {
  transform: scale(0.9);
  color: #5f6368;
}

.contact-details {
  border: 0.8px solid lightgray;
  border-radius: 10px;
}

.contact-details .google-title {
  font-size: 16px;
  color: black;
}

.contact-details .icon-column {
  padding-top: 9px;
  max-width: 26px;
  margin-right: 20px;
}

.contact-details .contact-label {
  color: #5f6368;
  font-weight: 500;
}

.contact-name mat-icon {
  margin-top: -15px;
  color: #5f636890;
}

.contact-name {
  @include media(">tablet") {
    margin-left: 30px;
  }
}
