<div>
  <div class="is-flex is-justify-content-space-between max-width-800">
    <div class="is-flex">
      <button
        mat-icon-button
        matTooltip="Close"
        type="button"
        (click)="redirectBack()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <div
        class="backogrund-image is-flex is-flex-direction-column is-justify-content-space-around ml-5"
      >
        <contact-profile-picture
          [id]="contact.id"
          size="162"
        ></contact-profile-picture>
      </div>
      <div
        class="is-flex is-flex-direction-column is-justify-content-space-around ml-5 pl-4"
      >
        <div
          class="is-flex is-flex-direction-row is-align-items-center contact-name"
        >
          <mat-icon
            class="mr-2"
            matTooltip="Verified My Google Service user"
            *ngIf="contact.appUserEmail != null"
            >check_circle</mat-icon
          >
          <h1>
            {{ contact.fullName }}
          </h1>
        </div>
      </div>
    </div>
    <div class="is-flex is-flex-direction-column-reverse">
      <span>
        <button mat-icon-button (click)="starContact()">
          <mat-icon *ngIf="contact.starred" matTooltip="Unstar">star</mat-icon>
          <mat-icon *ngIf="!contact.starred" matTooltip="Star"
            >star_border</mat-icon
          >
        </button>

        <button mat-icon-button (click)="deleteContact()">
          <mat-icon matTooltip="Delete">delete</mat-icon>
        </button>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          class="ml-5"
          (click)="redirectEditProfile()"
        >
          Edit
        </button>
      </span>
    </div>
  </div>

  <mat-divider class="my-3"></mat-divider>

  <div class="max-width-600 ml-5 mt-5 p-4 contact-details">
    <p class="google-title">Contact details</p>
    <div class="columns mt-2">
      <div class="column icon-column">
        <mat-icon>phone</mat-icon>
      </div>
      <div class="column">
        <div *ngIf="contact.phoneNumbers.length == 0">
          No phone numbers added.
        </div>
        <div *ngFor="let phoneNumber of contact.phoneNumbers">
          <p>
            <a href="{{ 'tel:' + phoneNumber.phoneNumber }}">{{
              phoneNumber.phoneNumber
            }}</a>
            <span class="mx-2 contact-label"> • </span>
            <span class="contact-label">{{
              phoneNumber.type | titlecase
            }}</span>
          </p>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column icon-column">
        <mat-icon>email</mat-icon>
      </div>
      <div class="column">
        <div *ngIf="contact.emails.length == 0">No email addresses added.</div>
        <div *ngFor="let email of contact.emails">
          <p>
            <a href="{{ 'mailto:' + email.email }}">{{ email.email }}</a>
            <span class="mx-2 contact-label"> • </span>
            <span class="contact-label">{{ email.type | titlecase }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
