<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="aboutApp" class="mr-2">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #aboutApp="matMenu" xPosition="after" class="py-3 mt-2">
    <div class="p-3">
      <i>My Google Service</i> is a <b>Spring Boot</b> &
      <b>Angular </b>application made by Made by
      <a href="https://github.com/vladimirr9">Vladimir</a> and
      <a href="https://github.com/tara-pogancev">Tara</a> as a graduate project.
      <br /><br />
      For more information, please visit our
      <a href="https://github.com/tara-pogancev/my-google-service">GitHub</a>.
    </div>
  </mat-menu>
  My Google Service
  <div
    class="is-flex is-flex-direction-row-reverse is-align-content-flex-end stretch-width"
  >
    <button mat-icon-button class="ml-4" [matMenuTriggerFor]="profileMenu">
      <profile-picture [id]="user.id" size="36"></profile-picture>
    </button>
    <mat-menu #profileMenu="matMenu" xPosition="before" class="py-3 mt-2">
      <div
        class="is-flex is-flex-direction-column is-align-items-center is-justify-content-space-around my-2 profileMenu"
      >
        <div class="mb-5">
          <profile-picture [id]="user.id" size="56"></profile-picture>
        </div>
        <p class="px-4">
          <strong>{{ user.firstName }} {{ user.lastName }}</strong>
        </p>
        <p class="px-4">{{ user.email }}</p>
        <hr />
        <div>
          <button mat-stroked-button (click)="signOut()">Sign out</button>
        </div>
      </div>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="selectMenu">
      <mat-icon>apps</mat-icon>
    </button>
    <mat-menu #selectMenu="matMenu" xPosition="before" class="p-3 mt-2">
      <div class="columns">
        <div class="column">
          <button mat-button class="p-2" (click)="redirectEditProfile()">
            <div class="is-flex is-flex-direction-column is-align-items-center">
              <profile-picture
                [id]="user.id"
                size="36"
                class="profile-picture-menu"
              ></profile-picture>
              <p>Account</p>
            </div>
          </button>
        </div>
        <div class="column">
          <button mat-button class="p-2" (click)="redirectContacts()">
            <div class="is-flex is-flex-direction-column is-align-items-center">
              <img src="../../../assets/Google_Contacts.png" width="36px" />
              <p>Contacts</p>
            </div>
          </button>
        </div>
        <div class="column">
          <button mat-button class="p-2" (click)="redirectPhotos()">
            <div class="is-flex is-flex-direction-column is-align-items-center">
              <img src="../../../assets/Google_Photos.png" width="36px" />
              <p>Photos</p>
            </div>
          </button>
        </div>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>
