@import "../../../../breakpoints.scss";

.header-title {
  @include media("<=phone") {
    font-size: 16px !important;
  }
}

p {
  margin-bottom: 0px;
}

hr {
  color: lightgray;
  width: 100%;
}

.profileMenu {
  min-width: 200px !important;
}

.mat-toolbar {
  background-color: rgba(211, 211, 211, 0.15);
}

.profile-picture-menu {
  margin: 0;
  height: 36px !important;
}
