@import "../../../../breakpoints.scss";

.suggestions-sidebar {
  width: 400px;
  height: 100%;

  @include media("<=1100px") {
    display: none !important;
  }
}

.suggestions-sidebar img {
  margin-bottom: 10px;
}

.suggestions-sidebar .icon-left {
  color: gray;
  transform: scale(1.3);
  margin-right: 30px !important;
  margin-left: 20px;
}

.suggestions-sidebar .icon-right {
  color: #6782db;
  transform: scale(1.3);
  margin-left: 50px !important;
  margin-right: 20px !important;
}

mat-divider {
  margin: 10px 0;
}

.light-blue {
  background-color: #e8f0fe !important;
}

.google-bold {
  margin-top: 10px;
}

.card-container {
  width: 650px;
}

.content-panel {
  border-left: 0.8px solid rgba(211, 211, 211, 0.7);
}
