.backogrund-image {
  width: 162px;
  height: 162px;
  z-index: 1;
  background-image: url("/assets/missing_profile_picture_gray.png");
  background-size: cover;
}

.mat-fab {
  background-color: rgba(107, 107, 107, 0.7) !important;
}

.icon-column {
  padding-top: 40px;
  max-width: 26px;
  margin-right: 20px;
}

mat-form-field {
  width: 490px;
}

.side-buttons {
  visibility: hidden;
}

.side-buttons {
  opacity: 0.8;
}

.side-buttons .mat-icon-button {
  transform: scale(0.85) !important;
  margin-right: -10px;
}

.form-field-wrapper:hover .side-buttons {
  visibility: visible !important;
}
