<div class="table-container main-container">
  <table class="table is-fullwidth">
    <thead class="top-table-header">
      <tr *ngIf="selectedContacts.length == 0">
        <th class="name-column">
          <div class="is-flex is-align-items-center stretch-height">Name</div>
        </th>
        <th class="email-column">
          <div class="is-flex is-align-items-center stretch-height">Email</div>
        </th>
        <th class="phone-column">
          <div class="is-flex is-align-items-center stretch-height">
            Phone number
          </div>
        </th>
        <th class="menu-column"></th>
      </tr>
      <tr class="selection-menu" *ngIf="selectedContacts.length != 0">
        <th>
          <div
            class="is-flex is-align-items-center stretch-height is-justify-content-space-between"
          >
            <div>
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                matTooltip="Select"
              >
                <mat-icon>indeterminate_check_box</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="selectAll()">
                  <span>All</span>
                </button>
                <button mat-menu-item (click)="selectNone()">
                  <span>None</span>
                </button>
              </mat-menu>
              <button
                mat-icon-button
                matTooltip="Export"
                (click)="exportSelected()"
              >
                <mat-icon>cloud_download</mat-icon>
              </button>
              <button
                mat-icon-button
                matTooltip="Delete"
                (click)="deleteSelected()"
              >
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
            <div class="mr-5">
              <p>{{ selectedContacts.length }} selected</p>
            </div>
          </div>
        </th>
      </tr>
    </thead>
  </table>

  <div class="scrollabe">
    <p class="py-3 mt-3 contacts-label" *ngIf="starredContacts.length != 0">
      Starred contacts ({{ starredContacts.length }})
    </p>
    <table class="table" *ngIf="starredContacts.length != 0">
      <thead [style.display]="'none'">
        <tr>
          <th class="name-column">
            <div class="is-flex is-align-items-center stretch-height">Name</div>
          </th>
          <th class="email-column">
            <div class="is-flex is-align-items-center stretch-height">
              Email
            </div>
          </th>
          <th class="phone-column">
            <div class="is-flex is-align-items-center stretch-height">
              Phone number
            </div>
          </th>
          <th class="menu-column"></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngIf="contacts.length == 0">
          <p class="m-5">No contacts to display.</p>
        </tr>
        <tr
          *ngFor="let contact of starredContacts"
          [ngClass]="{ selected: selectedContacts.includes(contact.id) }"
        >
          <td class="name-column">
            <div
              class="is-flex is-align-items-center stretch-height stretch-width is-flex-direction-row"
            >
              <contact-profile-picture
                [id]="contact.id"
                size="36"
                [ngClass]="{
                  'selected-picture': selectedContacts.includes(contact.id)
                }"
              ></contact-profile-picture>
              <div
                class="checkbox-container"
                [style.display]="
                  selectedContacts.includes(contact.id) ? 'flex' : 'none'
                "
              >
                <mat-checkbox
                  (change)="selectContact($event.checked, contact)"
                  [checked]="selectedContacts.includes(contact.id)"
                >
                </mat-checkbox>
              </div>
              <div
                class="clickable stretch-width stretch-height is-flex is-align-items-center"
                (click)="redirectContact(contact.id)"
              >
                <p class="ml-4">{{ contact.fullName }}</p>
              </div>
            </div>
          </td>
          <td
            class="email-column clickable"
            (click)="redirectContact(contact.id)"
            *ngIf="contact.emails.length == 0"
          ></td>
          <td
            class="email-column clickable"
            (click)="redirectContact(contact.id)"
            *ngIf="contact.emails.length != 0"
          >
            <div class="is-flex is-align-items-center stretch-height">
              <span *ngFor="let email of contact.emails.slice(0, 1)">
                {{ email.email }}
              </span>
            </div>
          </td>
          <td
            class="phone-column clickable"
            (click)="redirectContact(contact.id)"
            *ngIf="contact.phoneNumbers.length == 0"
          ></td>
          <td
            class="phone-column clickable"
            (click)="redirectContact(contact.id)"
            *ngIf="contact.phoneNumbers.length != 0"
          >
            <div class="is-flex is-align-items-center stretch-height">
              <span
                *ngFor="let phoneNumber of contact.phoneNumbers.slice(0, 3)"
                class="mr-5"
              >
                {{ phoneNumber.phoneNumber }}
              </span>
            </div>
          </td>
          <td class="menu-column">
            <div
              class="is-flex is-align-items-center stretch-height contact-menu"
            >
              <button mat-icon-button (click)="starContact(contact.id)">
                <mat-icon *ngIf="contact.starred">star</mat-icon>
                <mat-icon *ngIf="!contact.starred">star_border</mat-icon>
              </button>
              <button mat-icon-button (click)="redirectContact(contact.id)">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-icon-button (click)="deleteContact(contact.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <p class="my-3 contacts-label">Contacts ({{ contacts.length }})</p>
    <table class="table">
      <thead [style.display]="'none'">
        <tr>
          <th class="name-column">
            <div class="is-flex is-align-items-center stretch-height">Name</div>
          </th>
          <th class="email-column">
            <div class="is-flex is-align-items-center stretch-height">
              Email
            </div>
          </th>
          <th class="phone-column">
            <div class="is-flex is-align-items-center stretch-height">
              Phone number
            </div>
          </th>
          <th class="menu-column"></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngIf="contacts.length == 0">
          <p class="m-5">No contacts to display.</p>
        </tr>
        <tr
          *ngFor="let contact of contacts"
          [ngClass]="{ selected: selectedContacts.includes(contact.id) }"
        >
          <td class="name-column">
            <div
              class="is-flex is-align-items-center stretch-height stretch-width is-flex-direction-row"
            >
              <contact-profile-picture
                [id]="contact.id"
                size="36"
                [ngClass]="{
                  'selected-picture': selectedContacts.includes(contact.id)
                }"
              ></contact-profile-picture>
              <div
                class="checkbox-container"
                [style.display]="
                  selectedContacts.includes(contact.id) ? 'flex' : 'none'
                "
              >
                <mat-checkbox
                  (change)="selectContact($event.checked, contact)"
                  [checked]="selectedContacts.includes(contact.id)"
                >
                </mat-checkbox>
              </div>
              <div
                class="clickable stretch-width stretch-height is-flex is-align-items-center"
                (click)="redirectContact(contact.id)"
              >
                <p class="ml-4">{{ contact.fullName }}</p>
              </div>
            </div>
          </td>
          <td
            class="email-column clickable"
            (click)="redirectContact(contact.id)"
            *ngIf="contact.emails.length == 0"
          ></td>
          <td
            class="email-column clickable"
            (click)="redirectContact(contact.id)"
            *ngIf="contact.emails.length != 0"
          >
            <div class="is-flex is-align-items-center stretch-height">
              <span *ngFor="let email of contact.emails.slice(0, 1)">
                {{ email.email }}
              </span>
            </div>
          </td>
          <td
            class="phone-column clickable"
            (click)="redirectContact(contact.id)"
            *ngIf="contact.phoneNumbers.length == 0"
          ></td>
          <td
            class="phone-column clickable"
            (click)="redirectContact(contact.id)"
            *ngIf="contact.phoneNumbers.length != 0"
          >
            <div class="is-flex is-align-items-center stretch-height">
              <span
                *ngFor="let phoneNumber of contact.phoneNumbers.slice(0, 3)"
                class="mr-5"
              >
                {{ phoneNumber.phoneNumber }}
              </span>
            </div>
          </td>
          <td class="menu-column">
            <div
              class="is-flex is-align-items-center stretch-height contact-menu"
            >
              <button mat-icon-button (click)="starContact(contact.id)">
                <mat-icon *ngIf="contact.starred">star</mat-icon>
                <mat-icon *ngIf="!contact.starred">star_border</mat-icon>
              </button>
              <button mat-icon-button (click)="redirectContact(contact.id)">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-icon-button (click)="deleteContact(contact.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
