.container {
  border: 0.8px solid lightgray;
  border-radius: 10px;
  padding: 48px;
}

.clickable {
  background-color: white;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.clickable:hover {
  background: rgba(127, 174, 235, 0.137);
}
