<header></header>
<div class="centered-content">
  <div class="columns m-5 is-variable is-8 container">
    <div
      class="column is-flex is-flex-direction-column is-align-items-center"
      (click)="redirectContacts()"
    >
      <div matRipple class="clickable p-5 item-box">
        <img src="../assets/Google_Contacts.png" width="200px" />
        <div
          class="is-flex is-flex-direction-row is-align-content-center is-justify-content-center stretch-width container-text"
        >
          <h1 class="mt-5">Google Contacts</h1>
        </div>
      </div>
    </div>

    <div class="column is-1"></div>

    <div
      class="column is-flex is-flex-direction-column is-align-items-center stretch-height"
      (click)="redirectPhotos()"
    >
      <div matRipple class="clickable p-5 item-box">
        <img src="../assets/Google_Photos.png" width="200px" />
        <div
          class="is-flex is-flex-direction-row is-align-content-center is-justify-content-center stretch-width container-text"
        >
          <h1 class="mt-5">Google Photos</h1>
        </div>
      </div>
    </div>
  </div>
</div>
