<div class="centered-content">
  <div class="columns stretch-height container">
    <div
      class="column is-flex is-flex-direction-column is-align-items-center is-justify-content-space-between"
    >
      <div *ngIf="!registrationSuccess">
        <div @fade1>
          <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
            <input
              autocomplete="false"
              name="hidden"
              type="text"
              style="display: none"
            />

            <div
              class="is-flex is-flex-direction-column is-align-items-flex-start"
            >
              <img
                src="../../../../assets/google.svg"
                width="75px"
                class="image mb-2"
              />
              <h1>Create your Google Account</h1>

              <div class="columns mt-5">
                <div class="column">
                  <mat-form-field class="null-margin" appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstName" />
                  </mat-form-field>
                </div>
                <div class="column">
                  <mat-form-field class="null-margin" appearance="outline">
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="lastName" />
                  </mat-form-field>
                </div>
              </div>

              <mat-form-field
                appearance="outline"
                class="stretch-width null-margin"
              >
                <mat-label>Email address</mat-label>
                <input
                  matInput
                  placeholder="email@example.com"
                  formControlName="email"
                />
                <mat-error
                  *ngIf="profileForm.get('email')!.hasError('required')"
                  >Email address is required</mat-error
                >
                <mat-error *ngIf="profileForm.get('email')!.hasError('email')"
                  >Not a valid email address</mat-error
                >
                <mat-error
                  *ngIf="profileForm.get('email')!.errors?.emailIsTaken"
                >
                  This username is already taken
                </mat-error>
                <mat-hint align="start"
                  >You can use letters, numbers & periods
                </mat-hint>
              </mat-form-field>
            </div>

            <div>
              <div class="columns mt-5 pt-5">
                <div class="column">
                  <mat-form-field class="null-margin" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input
                      matInput
                      type="password"
                      autocomplete="new-password"
                      formControlName="password"
                    />
                  </mat-form-field>
                </div>
                <div class="column">
                  <mat-form-field class="null-margin" appearance="outline">
                    <mat-label>Confirm</mat-label>
                    <input
                      matInput
                      type="password"
                      autocomplete="new-password"
                      formControlName="confirmPassword"
                    />
                    <mat-error
                      *ngIf="
                        profileForm.get('confirmPassword')!.errors
                          ?.confirmFailed
                      "
                    >
                      Passwords do not match
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="mt-5"></div>
              <mat-hint align="start"
                >Use 8 or more characters with a mix of letters, numbers &
                symbols
              </mat-hint>
            </div>

            <div
              class="is-flex is-flex-direction-row is-justify-content-space-between stretch-width pt-5 mt-5"
            >
              <button mat-flat-button (click)="redirectLogin()" type="button">
                Sign in
              </button>

              <button mat-flat-button color="primary" type="submit">
                Next
              </button>
            </div>
          </form>
        </div>
      </div>

      <div *ngIf="registrationSuccess">
        <div @fade2>
          <div
            class="is-flex is-flex-direction-column is-align-items-flex-start"
          >
            <img
              src="../../../../assets/google.svg"
              width="75px"
              class="image mb-2"
            />
            <h1>Thank you!</h1>
            <h4>Your account has been successfully created.</h4>

            <div class="is-flex is-flex-direction-row stretch-width pt-5 mt-5">
              <button
                mat-flat-button
                color="primary"
                (click)="redirectLogin()"
                type="button"
              >
                Sign in
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="column is-flex is-flex-direction-column is-align-items-center is-justify-content-space-around pl-5 ml-5"
    >
      <div
        class="is-flex is-flex-direction-column is-align-items-center align-text-center"
      >
        <img src="../../../../assets/accounts.svg" width="244px" />
        <h3 class="px-5">One account. All of Google working for you.</h3>
      </div>
    </div>
  </div>

  <made-by-label></made-by-label>
</div>
