<header></header>
<div class="is-flex is-flex-direction-column is-align-items-center my-5">
  <div class="max-width-900">
    <div class="is-flex is-flex-direction-column is-align-items-center mt-5">
      <h1 class="title">Personal info</h1>
      <p>Info about you and your preferences across Google services</p>
    </div>
    <gap></gap>

    <div class="columns">
      <div class="column">
        <h1 class="title">Your profile info in Google services</h1>
        <p>
          Personal info and options to manage it. You can make some of this
          info, like your contact details, visible to others so that they can
          reach you easily.
        </p>
      </div>
      <div
        class="column is-flex is-flex-direction-column is-align-items-center"
      >
        <img src="../../../../assets/Google_Personal_info.png" />
      </div>
    </div>

    <div class="container">
      <div>
        <h2>Basic info</h2>
        <p>
          Some info may be visible to other people using Google services.
          <a
            href="https://support.google.com/accounts/answer/6304920?hl=en-GB"
            target="_blank"
            >Find out more</a
          >
        </p>
      </div>

      <gap></gap>

      <mat-accordion class="example-headers-align">
        <mat-expansion-panel>
          <mat-expansion-panel-header class="photo-panel">
            <mat-panel-title> Photo </mat-panel-title>
            <mat-panel-description>
              A photo helps personalise your account
            </mat-panel-description>
            <profile-picture
              [id]="user.id"
              size="48"
              class="mr-5"
            ></profile-picture>
          </mat-expansion-panel-header>

          <form (ngSubmit)="setPicture()">
            <div class="file has-name mb-5">
              <label class="file-label">
                <input
                  class="file-input"
                  type="file"
                  id="file-input"
                  (change)="handleFileInput($any($event).target.files)"
                  required
                />
                <span class="file-cta">
                  <span class="file-icon">
                    <mat-icon>upload</mat-icon>
                  </span>
                  <span class="file-label"> Choose a file… </span>
                </span>
                <span
                  *ngIf="fileToUpload == null"
                  class="file-name is-flex is-align-items-center pr-5"
                >
                  No file selected.
                </span>
                <span
                  *ngIf="fileToUpload != null"
                  class="file-name is-flex is-align-items-center pr-5"
                >
                  {{ fileToUpload.name }}
                </span>
              </label>
              <span
                class="is-flex is-align-items-center ml-5 alert"
                *ngIf="invalidPicture"
                >Invalid picture.</span
              >
            </div>
            <p>
              Picture must have square dimensions, and be either JPG, JPEG or
              PNG.
            </p>

            <mat-action-row>
              <button mat-flat-button color="primary" type="submit">
                Save
              </button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>
      </mat-accordion>

      <gap height="10"></gap>

      <mat-accordion class="example-headers-align">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Name </mat-panel-title>
            <mat-panel-description>
              {{ user.firstName }} {{ user.lastName }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <form [formGroup]="nameChangeForm" (ngSubmit)="changeName()">
            <mat-form-field appearance="fill">
              <mat-label>First name</mat-label>
              <input matInput formControlName="firstName" />
            </mat-form-field>

            <mat-form-field appearance="fill" class="ml-5">
              <mat-label>Last name</mat-label>
              <input matInput formControlName="lastName" />
            </mat-form-field>
            <mat-action-row>
              <button
                mat-flat-button
                color="primary"
                type="submit"
                [disabled]="!nameChangeForm.touched || !nameChangeForm.valid"
              >
                Save
              </button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>
      </mat-accordion>

      <gap></gap>

      <div>
        <h2>Contact info</h2>
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> Email </mat-panel-title>
              <mat-panel-description> {{ user.email }} </mat-panel-description>
            </mat-expansion-panel-header>

            <p>
              This is you <strong>primary email</strong>. You cannot change it.
            </p>
          </mat-expansion-panel>
        </mat-accordion>

        <gap height="10"> </gap>

        <mat-accordion class="example-headers-align">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Phone </mat-panel-title>
              <mat-panel-description>
                {{ phoneNumberMessage }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p *ngIf="user.phoneNumbers.length == 0">No phone numbers added.</p>

            <div *ngFor="let phone of user.phoneNumbers">
              <edit-user-phone-number
                [phone]="phone"
                (doRefreshUser)="refreshUser()"
              ></edit-user-phone-number>
            </div>

            <mat-action-row>
              <button mat-flat-button color="primary" (click)="addContact()">
                Add new
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <gap></gap>

    <div class="columns">
      <div class="column">
        <h1 class="title">Other info and preferences for Google services</h1>
        <p>Ways to verify that it's you and settings for the web</p>
      </div>
      <div
        class="column is-flex is-flex-direction-column is-align-items-center"
      >
        <img src="../../../../assets/Google_Items.png" />
      </div>
    </div>

    <div class="container">
      <div>
        <h2>Security</h2>
        <p>
          A secure password helps protect your Google Account
          <a
            href="https://support.google.com/accounts/answer/6304920?hl=en-GB"
            target="_blank"
            >Find out more</a
          >
        </p>
      </div>

      <gap></gap>

      <mat-accordion class="example-headers-align">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Password </mat-panel-title>
            <mat-panel-description>
              Your personal key used to gain admission
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()">
            <mat-form-field appearance="fill">
              <mat-label>Old password</mat-label>
              <input
                matInput
                type="password"
                autocomplete="false"
                formControlName="oldPassword"
              />
            </mat-form-field>

            <mat-form-field appearance="fill" class="ml-5">
              <mat-label>New password</mat-label>
              <input
                matInput
                type="password"
                autocomplete="false"
                formControlName="password"
              />
            </mat-form-field>

            <mat-form-field appearance="fill" class="ml-5">
              <mat-label>Confirm password</mat-label>
              <input
                matInput
                type="password"
                autocomplete="false"
                formControlName="confirmPassword"
              />
              <mat-error
                *ngIf="
                  passwordChangeForm.get('confirmPassword')!.errors
                    ?.confirmFailed
                "
              >
                Passwords do not match
              </mat-error>
            </mat-form-field>

            <div class="mt-5"></div>
            <mat-hint align="start"
              >Use 8 or more characters with a mix of letters, numbers & symbols
            </mat-hint>
            <span
              class="is-flex is-align-items-center alert"
              *ngIf="invalidPassword"
              >Invalid password.</span
            >

            <mat-action-row>
              <button
                mat-flat-button
                color="primary"
                type="submit"
                [disabled]="
                  !passwordChangeForm.touched || !passwordChangeForm.valid
                "
              >
                Save
              </button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>
      </mat-accordion>

      <gap height="10"> </gap>

      <mat-accordion class="example-headers-align">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Default application </mat-panel-title>
            <mat-panel-description>
              The default application you will be redirected to upon signing in
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form (ngSubmit)="changeDefaultApplication()">
            <mat-form-field appearance="fill">
              <mat-label>Default application</mat-label>
              <mat-select [formControl]="defaultApplication" required>
                <mat-option value="google-contacts">Google Contacts</mat-option>
                <mat-option value="google-photos">Google Photos</mat-option>
                <mat-option value="none">None</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-action-row>
              <button
                mat-flat-button
                color="primary"
                type="submit"
                [disabled]="
                  !defaultApplication.touched || !defaultApplication.valid
                "
              >
                Save
              </button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <gap height="150" class="my-5"></gap>
    <gap></gap>
  </div>
</div>
