@import "../../../../breakpoints.scss";

.title {
  font-size: 1.75rem;
  font-weight: 400;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

table {
  width: 100%;
}

.photo-panel {
  min-height: 90px !important;
}

mat-panel-title {
  align-self: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
  color: rgb(77, 77, 77);
}

.security-panel mat-panel-title {
  max-width: 200px !important;
}

//RESPONSIVE
.main-container {
  @include media("<=940px") {
    margin: 0 20px;
  }
}

mat-panel-description {
  @include media("<=940px") {
    display: none !important;
  }
}

.input-spacing {
  margin-right: 20px;

  @include media("<540px") {
    margin-right: 0px;
  }
}

mat-form-field {
  @include media("<540px") {
    width: 100%;
  }
}

mat-select {
  @include media("<540px") {
    width: 100% !important;
  }
}

.container {
  @include media("<540px") {
    border: none;
    margin: 0;
    padding: 5px;
  }
}
